<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ingreso de productos</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">

</head>
<body>

	<div id="wrapper">

		<!-- Sidebar -->

		<div id="content-wrapper">

			<div class="container-fluid">

				<h1 class="mt-4">Formulario de ingreso de productos</h1>
				<div class="card mb-4">
					<form th:action="@{/facturar}" th:object="${producto}"
						method="post">

						<label>Código: <input type="text" th:field="*{codigo}"></label><br>
						<span th:errors="*{codigo}" style="color: #FF0000"></span><br>

						<label>Nombre: <input type="text" th:field="*{nombre}"></label><br>
						<span th:errors="*{nombre}" style="color: #FF0000"></span><br>

						<label>Marca: <input type="text" th:field="*{marca}"></label><br>
						<span th:errors="*{marca}" style="color: #FF0000"></span><br>

						<label>Descripción: <input type="text"
							th:field="*{descripcion}"></label><br> <span
							th:errors="*{descripcion}" style="color: #FF0000"></span><br>

						<label>Existencias: <input type="text"
							th:field="*{existencias}"></label><br> <span
							th:errors="*{existencias}" style="color: #FF0000"></span><br>

						<label>Fecha de ingreso: <input type="text"
							th:field="*{fechaIngreso}"></label><br> <span
							th:errors="*{fechaIngreso}" style="color: #FF0000"></span><br>

						<div class="form-group">
							<input type="submit" class="btn btn-primary"
								value="Guardar Producto">
						</div>
					</form>
				</div>
			</div>
</body>
</html>